@CHARSET "ISO-8859-1";

table.hovertable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 0px;
	border-color: #999999;
	border-collapse: collapse;
	
}

table.hovertable th {
	background-color: #c3dde0;
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.hovertable tr {
	background-color: #d4e3e5;
}

table.hovertable td {
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.hovertable th:first-child {
	border-top-left-radius: 20px;
}

table.hovertable th:last-child {
	border-top-right-radius: 20px;
}

table.hovertable tr:last-child td:first-child {
	border-bottom-left-radius: 20px;
}

table.hovertable tr:last-child td:last-child {
	border-bottom-right-radius: 20px;
}

body {
	font: 14px sans-serif;
	background: #E6E6E6 url(images/main-bg.png) repeat;
	color: black;
	margin-left: 130px;
	margin-bottom: 0px;
	padding: 0px;
	height: auto;
	min-height: 600px;
	float: left;
	width: 70%;
	-webkit-box-shadow: 5px 15px 20px rgba(0, 0, 0, .3);
	color: black;
}

.manager {
	font: 14px sans-serif;
	color: darkslateblue;
	border: 1px groove gray;
	margin-left: 300px;
	margin-bottom: 0px;
	padding: 10px;
	height: 50%;
	width: 50%;
}

.button_example {
	border: 1px solid #50cec2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #7CDAD1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7CDAD1),
		color-stop(100%, #468BB3) );
	background-image: -webkit-linear-gradient(top, #7CDAD1, #468BB3);
	background-image: -moz-linear-gradient(top, #7CDAD1, #468BB3);
	background-image: -ms-linear-gradient(top, #7CDAD1, #468BB3);
	background-image: -o-linear-gradient(top, #7CDAD1, #468BB3);
	background-image: linear-gradient(top, #7CDAD1, #468BB3);
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		GradientType =     0, startColorstr =     #7CDAD1, endColorstr =    
		#468BB3 );
}

.button_example:hover {
	border: 1px solid #35bbae;
	background-color: #54cfc3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54cfc3),
		color-stop(100%, #386f8e) );
	background-image: -webkit-linear-gradient(top, #54cfc3, #386f8e);
	background-image: -moz-linear-gradient(top, #54cfc3, #386f8e);
	background-image: -ms-linear-gradient(top, #54cfc3, #386f8e);
	background-image: -o-linear-gradient(top, #54cfc3, #386f8e);
	background-image: linear-gradient(top, #54cfc3, #386f8e);
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		GradientType =     0, startColorstr =     #54cfc3, endColorstr =    
		#386f8e );
}

.select {
	width: 138px;
	height: 21px;
	background-color: #ddd;
	padding: 0 0px 0 10px;
	color: #000;
	font: 12px/21px arial, sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}

#wrapper {
	background-color: #b0c4de;
	height: 40px;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 15px;
	padding-left: 30px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#wrappermenu {
	background-color: #c3dde0;
	text-align: left;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 15px;
	padding-left: 30px;
	height: 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#wrapper1 {
	background-color: #b0c4de;
	height: auto;
	margin-left: 30px;
	margin-top: 70px;
	margin-right: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 0px;
	padding-bottom: 15px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#myproj {
	background-color: #b0c4de;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#CrtProj {
	background-color: #b0c4de;
	height: 100%;
	margin-left: 40px;
	margin-top: 30px;
	margin-right: 40px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom:15px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#wrapper2 {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

#wrap {
	background-color: #c3dde0;
	text-align: left;
	width: 40%;
	height: 40px;
	margin-left: 40px;
	margin-top: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 15px;
	padding-left: 30px;
	margin-right: -230px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

#wrap1 {
	margin-left: -10px;
	margin-top: 0px;
}

.info,.success,.warning,.error,.validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}

.success {
	height: 30px;
	width: 60%;
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('success.png');
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 100px;
	list-style: none;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}

.error {
	width: 60%;
	color: #D8000C;
	height: 30px; background-color : #FFBABA;
	background-image: url('error.png');
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 180px;
	list-style: none;
	background-color: #FFBABA;
}

.validation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('validation.png');
}

.errorMessage {
	list-style: none;
}

.divalign {
	text-align: left;
	margin-left: 30px;
}

.checkbox {
	width: 28px;
	height: 28px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid :   DXImageTransform.Microsoft.gradient (    
		startColorstr = 
		 '#fcfff4', endColorstr =   '#b3bead', GradientType =   0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px
		rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	position: relative;
}

#boundary {
	overflow: auto;
	width: 1000px;
	margin: 0px auto;
	min-height: 700px;
	text-align: center; height : auto;
	background: url('bk1.jpg') repeat;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
	background-size: cover;
	height: auto
}

.tb1 {
	width: 170px;
	background: transparent url('bg.jpg') no-repeat;
	color: #747862;
	height: 30px;
	border: 0;
	padding: 4px 8px;
	margin-bottom: 0px;
}

.logout {
	background: url('logout.jpg');
	color: #AEAEAE;
	font-weight: bold;
	height: 40px;
	padding-bottom: 2px;
	width: 60px;
}


ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
display:inline;
text-decoration:none; 

}
a:link {
color: #CC0000;
font-weight: normal;
text-decoration: none;
}
a:link:hover {
color: #400000;
font-weight: bold;
text-decoration: none;
}

